/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 1px; /* Track width */
  height: 3px; /* Track height for horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #e9fefe; /* Scrollbar color */
  border-radius: 2px; /* Rounded corners */
  opacity: 0; /* Initially not visible */
  transition: opacity 0.3s;
  height: 10px; /* Smooth transition for visibility */
}

::-webkit-scrollbar-thumb:hover {
  opacity: 1; /* Fully visible on hover */
}

::-webkit-scrollbar-track {
  background: transparent; /* Track background */
}

/* For Firefox */
html {
  scrollbar-width: thin; /* Set scrollbar to thin */
  scrollbar-color: transparent transparent; /* Initial thumb and track colors */
}

html:hover {
  scrollbar-color: #e9fefe transparent; /* Change thumb color on hover */
}
/* Hide scrollbar for Firefox */
.scroll-container {
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.scroll-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Ensure smooth scrolling without layout shifts */
.scroll-container {
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
}
