@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply mobile layout to the entire app */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent overflow on the body */
}

/* Main container that mimics mobile device dimensions */
.mobile-view {
  width: 100vw; /* Mobile width */
  height: 100vh; /* Full viewport height */
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #ddd;
  background-color: #e9fefe;
  border-radius: 25px;
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Prevent scaling of content */
body {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Force mobile size on larger screens */
@media (min-width: 768px) {
  html,
  body,
  .mobile-view {
    width: 375px; /* Keep the width locked for larger screens */
    /* height: 100%;  */
    overflow: hidden; /* Prevent overflow on larger screens */
    margin: 0 auto;
    display: block;
  }
}
/* Custom Scrollbar Styles */
/* Custom Scrollbar Styles */
